
*{
    font-family: 'Supermercado One', monospace, cursive;
    background-color: rgb(165, 193, 230);
    
}

body{
    padding: 10px;
    /* background-color: rgb(198, 245, 241); */
}

h1, h2{
    color: rgb(2, 19, 95);

}

li{
    list-style: none;
}

article{
    display: inline-block;
}

aside{
    display: inline-block;
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p{
    margin: .5rem;
 
}

footer{
    padding: 30px;
}


.cabecalho-pagina{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: medium solid rgb(5, 26, 73);
    color: rgb(5, 26, 73);
}

.navegacao li{
    display: inline-block;
    padding: 10px;
    font-size: 25px;
   
    
    
}
.navegacao ul{
    text-align: center;
    padding: 20px;
}

#soco{
    width: 400px;
}
#imagem1{
    width: 400px;
}

#table{
    margin: 10px;
    padding: 10px;
    text-align: center;
}
tr{
    padding: 10px;
}
td{
    padding: 5px 12px;
}
