
*{
    font-family: 'Supermercado One', monospace, cursive;
    
}

body{
    padding: 10px;
    /* background-color: rgb(198, 245, 241); */
}

h2{
    /* background-color:violet; */

}

li{
    list-style: none;
}

article{
    display: inline-block;
}

aside{
    display: inline-block;
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p{
    margin: .5rem;
 
}

footer{
    padding: 30px;
}


.cabecalho-pagina{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: medium solid rgb(6, 1, 34);
}

.navegacao li{
    display: inline-block;
    padding: 10px;
    font-size: 25px;
   
    
    
}
.navegacao ul{
    text-align: center;
    padding: 20px;
}