/*Assim se comenta em CSS*/

h1{
    font-family: sans-serif;
    /* fonte*/
}
p{
    font-weight: 600;
     /* peso ou intensidade da fonte*/
    font-size: 2em;
     /* tamanho em relação a*/
}

body{
    font-size: 16px;
     /* tamanho*/
    text-decoration: lightcoral;
}

#amarelo{
    
   font-style:unset; 
    /* estilo da fonte, como negrito, itálico, etc*/
   color: yellow;
    /* cor*/

}

#vermelho{
    
   font-style: italic;
   color: red;
}

#marrom {

   font-style: inherit;
   color: saddlebrown;


}

ul {
    line-height: 50px;
    text-align:left;

   
}
